
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@600;700&family=Work+Sans:wght@800&display=swap');
*{
    font-family: 'Work Sans';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.primary-color{
    color: #F948B2;
}
body{
    max-width: 930px;
    margin: 0px auto;
}

/* the nav-container start here */
.nav-container{
    padding: 10px;
    height: auto;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-left{
    display: flex;
    align-items: center;
}

.nav-image{
    height: 1.61rem;
    width: 3.47rem;

}
.nav-left-title{ 
    font-size: 1.82rem;  
    font-weight: 700;
}

.nav-menu{
    color: #3C354F;
    font-size: 0.73rem;
    font-weight: 500;
}
.nav-extra-image{
    width: 1.37rem;
    height: 0.97rem;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    cursor: pointer;
}
.nav-right a{
    text-decoration: none;
}
.nav-right li{
    list-style: none;
}
.nav-extra{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 12px;
    color: #3C354F;
    font-size: 0.73rem;
    font-weight: 500;
   
}

/* the nav-container ends here */

/* the banner-container start here */
.banner-container-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-one-left{
   width: 50%;
    height: auto;
}
.banner-one-heading{
    font-size: 2rem;
    color:#0B0223 ;
    width: 600;
}
.banner-one-title{
    font-size: 3.83rem;
    width: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.banner-one-information{
    font-size: 0.8rem;
    color: #534C64;
    width: 500;
    margin-top: 10px;
}
.banner-info{
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 12px;

}
.banner-one-button{
    width: max-content;
    font-size: 0.8rem;
    padding: 13.56px 25.833px;
    width: 600;
    color: #FFF;
    border-radius: 31px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-top: 20px;
    border: 0;
}
.button-extra{
    background: #4EC5F7;
}
.banner-one-buttons{
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.banner-one-right{
    width: 50%;
}
.banner-one-image{
    width: 100%;
}
/* the banner-container ends here */

/* the banner-container-two start here */
.banner-two-left{
    width: 60%;
}
.banner-two-img{
    width: 100%;
}
.banner-two-right{
    width: 40%;
    
}
.banner-two-title{
    font-size: 1.93rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
}
.banner-two-description{
    color: #534C64;
    font-size: 0.76rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-two-commitment{
    color: #534C64;
    font-size: 1.292rem;
    font-weight: 700;

}
.banner-two-purpose{
    color: #534C64;
    font-size: 0.968rem;
    font-weight: 500;
}
.banner-container-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.banner-two-button{
    cursor: pointer;
}


/* the banner-container-two start here */


/* the video-container start here */
.video-title{
    color: #0B0223;
    font-size: 1.94rem;
    font-weight: 700;

}
.video-title-extra{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.94rem;
    font-weight: 700;

}
.video-description{
    font-size: 0.73rem;
    font-weight: 400;
    color: #534C64;
}
.video-container div{
    text-align: center;
    margin-top: 40px;
}
.card{
    width: 23%;
    height: auto;
    border-radius: 16px;
    position: relative;
}

.image-img{
    width: 40px;
    background-color: #fff;
}
.image-img{
    background-color: #0B0223;
}

.Image-text{
    position: absolute;
    top: 15%;
    left: 30%;
    display: none;
   
}
.card:hover .Image-text{
    display: block;
}
.card:hover {
    filter: brightness(50%);
}


.image-word{
    color: #F948B2;
}


.card-image{
    width: 100%;
}

.video-cards{
    display: flex;
    justify-content: space-evenly;
    
}
.card-description{
    color: #534C64;
    font-size:0.8rem;
    font-weight: 500;
    margin-bottom: 30px;
}
/* the video-container end here */


/* the game-container start here */
.game-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    background: #FFF;
   
}
.game-left{
    width: 50%;
}
.game-image{
    width: 70%;
    height: auto;
    position: relative;
}
.game-small-image{
    width: 120px;
    height: 140px;
    position: absolute;
    margin-top: 16%;
    margin-left: -3%;
}
.game-title{
     font-size: 1.94rem;
     font-weight: 700;
     color: #0B0223;
}
.game-title-extra{
    font-size: 1.94rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-description{
    font-size: 0.73rem;
    font-weight: 400;
    color: #534C64;
    margin-top: 12px;
}
.game-right{
    width: 40%;
}
/* the game-container end here */


 /* the suggest-game-container start here  */
 .suggest-game-image{
    height: 2.42rem;
    width: 2.42rem;
    border-radius: 50%;
 }
 .suggest-game-name{
    color: #0B0223;
    font-size: 0.807rem;
    font-weight: 600;
    width: max-content;
 }
 .suggest-game{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    border-radius: 50px;
    background: #FFF;
    cursor: pointer;
   
 }
 
 .suggest-game:hover{
    
    border: 1px solid #F948B2;
 }
 .suggest-game:hover .suggest-game-name{

    color: #F948B2;
 }
 .suggest-games-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
    padding:  70px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
 }
 /* the suggest-game-container ends here  */


 /* the careers-container start here */

.career-title{
    font-size: 1.94rem;
    font-weight:700 ;
    color: #FFF;
}
.career-description{
    font-size: 0.73rem;
    font-weight: 400;
    color: #fff;
    padding-top: 20px;
}
.career-columns-start,
.career-columns-end{
    font-size: 0.8rem;
    font-weight: 600;
    color:  #FFF;
}
.career-columns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.career-button{  
    color: #FF42A5;
    background-color: #fff;
    width: max-content;
    font-size: 0.8rem;
    padding: 13.56px 25.833px;
    width: 600;
    border-radius: 31px;
    margin-top: 20px;
    border: 0;
    cursor: pointer;
}
.career-left{
    width: 50%;
    background-image: url("../images/Group\ 14.png");
    padding: 40px;
}
.career-right{
    width: 50%;
}
.career-image{
    width: 100%;
}
.career-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F948B2;
}


 /* the careers-container ends here */

 /* the footer-container start here */

 .footer-container{
    background: #0B0223;
 }

 .footer-heading{
    width: max-content;
    margin: 30px auto;
    padding-top: 50px;
 }
 .footer-title{
    color: #FFF;
 }

 .our-information-title{
    font-size: 0.73rem;
    width: 600;
    color: #FFF;

 }
 .footer-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0px auto;

 }
 .footer-image{
    width: 1.61rem;
    height: 1.61rem;
    background-color: #FFF;
    border-radius: 50%
 }
 .footer-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 25%;
    cursor: pointer;
 }
 .policy-title{
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.64rem;
    font-size: 500;
 }
 .footer-policy-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 20px auto;
 }
 .footer-last-line{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.64rem;
    font-weight: 500;
    padding-bottom: 100px;
 }




@media screen and (max-width:576px) {
    /* the nav-container start here */
    .nav-container{
        box-shadow: 0;
        background: transparent;
        box-shadow: none;
        flex-direction: column;
    }
    .nav-right{
        flex-direction: column;
    }
    .nav-container{
        height: auto;
    }
    .nav-left{
        margin-bottom: 50px;
    }
    /* the banner-container-one start here */
    .game-container,
    .banner-container-one{
        margin-top: 30px;
        flex-direction: column-reverse;
    }
    .banner-one-left{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-size: 0.5rem;
    }
    .banner-one-right{
        width: 60%;
        margin-top: 50px;
    }
    .banner-one-left{
        width: 50%;
    }

    /* the banner-container-two start here */
    
    .video-cards,
    .banner-container-two{
        flex-direction: column;
        margin-top: 30px;
        background: transparent;
    }
    .banner-two-right{
        width: 60%;
       text-align: center;
       font-size: 0.5rem;
    }

    /* the video-container start here */

    
    .card{
        width: 60%;
        margin: 0px auto;
    }
    .card-image{
        width: 70%;
        height: 80%;

    }

    /* the game-container start here */
    
    .game-left{
        width:80%;
        margin-top: 40px;
    }
    .game-small-image{
        width: 120px;
        height: 140px;
        position: absolute;
        margin-top: 25%;
        margin-left: -15%;
    }
    .game-right{
        width: 90%;
        text-align: center;
        margin-top: 20px;
    }
    .game-container{
        padding: 30px;
    }
    /* the suggest-game-container start here  */
    .suggest-games-container{
        column-gap: 10px;
        padding: 15px;
        background: transparent;
    }
    .suggest-game-image{
        height: 1.42rem;
        width: 1.42rem;
        border-radius: 50%;
     }
     .suggest-game-name{
        font-size: .707rem;
     }

     /* the careers-container start here */

     .career-container{
        flex-direction: column;
     }
     .career-left{
        width: 100%;
     }
     .career-right{
        width: 80%;
    }

     /* the footer-container start here */

     .footer-policy-container,
     .footer-image-container,
     .footer-information{
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 30px;
     }
     .footer-policy-container{
        width: 60%;
     }


     
     
    
    
}




@media screen and (min-width:576px) and (max-width: 992px){

    /* the nav-container start here */

    .nav-container{
        flex-direction: column;
        box-shadow: 0;
        background: transparent;
        box-shadow: none;
        
    }


    /* the banner-container-one here */
    
    .banner-container-one{
        margin-top: 70px;
        flex-direction: column-reverse;
    
    }
    .banner-container-one{
        text-align: center;  

    }
    .banner-one-right{
        width: 80%;
        margin-top: 70px;
        padding: 70px;
    }
    .banner-one-left{
        width: 80%;
        padding: 70px;
    }
    .banner-one-button{
        margin-left: 90px;

    }
    

    /* the banner-container-two start here */


    .banner-container-two{
        flex-direction: column;
        margin-top: 30px;
    }
    .banner-two-right{
        width: 50%;
       text-align: center;
    }
    .banner-two-button{
       margin-right: 100px;
        
    }

    /* the video-container start here */

    
    .card{
        width: 20%;
        margin: 0px auto;
    }

    .game-container{
        padding: 30px;
    }
    /* the suggest-game-container start here  */
    .suggest-games-container{
        column-gap: 25px;
        padding: 30px 35px;
    }
    .suggest-game-image{
        height: 2.1rem;
        width: 2.1rem;
        border-radius: 50%;
     }
}